 /* Asegura que todas las imágenes de productos tengan el mismo tamaño */
 .card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 18rem; 
    margin: 10px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}